[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
brotli = "==1.0.9"
cachelib = "==0.9.0"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
click = "==8.1.0"
colorama = "==0.4.4"
dash = "==2.6.0"
dash-bootstrap-components = "==1.2.0"
dash-core-components = "==2.0.0"
dash-extensions = "==0.1.5"
dash-html-components = "==2.0.0"
dash-table = "==5.0.0"
editorconfig = "==0.12.3"
flask = "==2.1.0"
flask-caching = "==2.0.0"
flask-compress = "==1.11"
flask-login = "==0.6.1"
gunicorn = "==20.1.0"
idna = "==3.3"
importlib-metadata = "==4.11.3"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.1"
jsbeautifier = "==1.14.4"
markupsafe = "==2.1.1"
more-itertools = "==8.13.0"
new-package = "==0.0.1"
numpy = "==1.24.3"
plotly = "==5.6.0"
python-dotenv = "==0.20.0"
requests = "==2.27.1"
six = "==1.16.0"
tenacity = "==8.0.1"
urllib3 = "==1.26.9"
werkzeug = "==2.1.0"
zipp = "==3.7.0"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.10"
